/*styles.css*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dad6d6;
    padding: 10px 20px;
}

.logo img{
    height: 60px;
    width: auto;
}

.menu {
    list-style-type: none; /* Elimina los puntos de la lista */
    display: flex; /* Coloca los elementos de la lista en línea horizontal */
    justify-content: space-around; /* Espacia los elementos uniformemente */
}
.menu li {
    margin-right: 20px; /* Espacio entre los elementos del menú */
}
.menu li a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.menu li a:hover {
    color: rgb(240, 150, 16); /* Cambia el color del enlace al pasar el cursor */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}

.slide img {
    width: 100%;
    height: auto;
}
.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8); /* Fondo del botón */
    border: none; /* Sin borde */
    font-size: 18px; /* Tamaño del texto del botón */
    padding: 10px; /* Espaciado interno */
}
button.prev {
    left: 10px; /* Posición del botón anterior */
}

button.next {
    right: 10px; /* Posición del botón siguiente */
}

/* Titulo*/
.titulos {
    text-align: center;
    margin: 40px 60px;
}
.titulos h1 {
    font-size: 2.5em;
}
.titulos p {    
    font-size: 1.2em;
    color: #666;
}
/*Pilares*/

.pilares{
    display: flex;
    justify-content: space-around;
}

.pilares__pilar{
    width: 30%;
    background-color: #dad6d651;
    padding: 20px;
    text-align: center;
}
.pilares__pilar h2 {
    font-size: 1.5em;
    padding: 10px ;
}

.pilares__pilar p {
    font-size: 1em;
    text-align: justify;
    color: #555;
}

/* Footer*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
}
footer p {
    margin: 10px 0;
}
footer ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0;
}
footer ul li {
    display: inline; /* En línea horizontal */
    margin: 0 15px; /* Espacio entre los enlaces */
}

footer ul li a {
    color: white; /* Color blanco para los enlaces */
    text-decoration: none; /* Sin subrayado */
}

footer ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}